<%= flash[:success] %>
<h1>Mian Manu</h1>
<p>下記のメニューよりクリックしてください</p>
<p><%= link_to "新規ユーザー作成", new_user_path %></p>
<p><%= link_to "単語帳" %></p>
<p><%= link_to "ランキング" %></p>
<p><%= link_to "単語マスタメンテナス" %></p>