<%= flash[:success] %>
<h1 class="uk-heading-line uk-text-center margin-4"><span>Mian Manu</span></h1>
<p>下記のメニューよりクリックしてください</p>
<p><%= link_to "新規ユーザー作成", new_user_path %></p>
<p><%= link_to "単語帳", questions_path %></p>
<p><%= link_to "ランキング", ranking_index_path %></p>
<p><%= link_to "単語メンテナンス", admin_questions_path %></p>
