<p><%= link_to 'Main Menu', wordbooks_path %></p>
【ユーザー：<%= current_user.name %>】
【ユーザーID：<%= current_user.id %>】
<% if params[:completed] %>
<p>お疲れ様でした！<p>
<p>あなたの成績は、50問中、<%= @user_correct_answer.to_i %>問正解、正解率<%= current_user.highest_rate %>％で<%= @user_ranking %>位でした！！<p>
<% end %>

<h1>Ranking</h1>
<div id="result"></div>

<table id="targetTable">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>正解率</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each.with_index(1) do |user, i| %>
    <tr class="<%= 'red' if user.id == current_user.id %>">
      <td><%= i %>位</td>
      <td><%= user.name%></td>
      <td><%= user.highest_rate%>％</td>
    </tr>
  <% end %>
  </tbody>
</table>

<%# sessyionのユーザーネームと@usernameがおなじものは赤い色にする %>
<%# 単語帳から遷移してきたら、画面上部にメッセージを表示する %>
　<%# ・必要な値 → 正解数(フロント)、正解率(フロント)、順位(どうやって？)  %>