<h1 class="uk-heading-line uk-text-center margin-4"><span>Ranking</span></h1>
  【ユーザー：<%= current_user.name %>】
  【ユーザーID：<%= current_user.id %>】
<% if params[:completed] %>
  <div uk-alert>
    お疲れ様でした！
    あなたの成績は、50問中、<%= current_user.correct_answer_count.to_i %>問正解、正解率<%= current_user.highest_rate %>％で<%= current_user.get_rank %>位でした！！
  </div>
<% end %>
<div id="result"></div>
<div>
  <table id="targetTable" class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th>順位</th>
        <th>名前</th>
        <th>正解率</th>
      </tr>
    </thead>
    <tbody>
    <% prev = "" %>
    <% rank = 0 %>
    <% @users.each.with_index(0) do |user, i| %>
      <% if user.highest_rate == prev %>
        <tr class="<%= 'red' if user.id == current_user.id %>">
          <td><%= rank %>位</td>
          <td><%= user.name %></td>
          <td><%= user.highest_rate %>％</td>
        </tr>
      <% else %>
        <% rank = i + 1 %>
        <tr class="<%= 'red' if user.id == current_user.id %>">
          <td><%= rank %>位</td>
          <td><%= user.name %></td>
          <td><%= user.highest_rate %>％</td>
        </tr>
      <% end %>
      <% prev = user.highest_rate %>
    <% end %>
    </tbody>
  </table>
</div>
