<!DOCTYPE html>
<html>
  <head>
    <title>Wordbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= button_to "Log out", logout_path, method: "delete" %>
  <% else %>
    <p><%= link_to "Log in", login_path %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
