<!DOCTYPE html>
<html>
  <head>
    <title>Wordbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
          <% if logged_in? %>
            <li><%= link_to "Log out", logout_path, method: "delete"%></li>
            <li><%= link_to 'Main Menu', wordbooks_path %></li>
          <% else %>
            <li><%= link_to "Log in", login_path%><li>
          <% end %>
          </ul>
      </div>
    </nav>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
      <div>
      </div>
      <div>
        <%= yield %>
      </div>
      <div>
      </div>
    </div>
  </body>
</html>
